
*{
}
html{
    border: 3px violet dashed; 
    background-color:#C8D5AD;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width:90%; 
    border: 2px violet dashed;
    background-color:goldenrod;
    margin:auto;
}
h1{
    color: darkgreen; 
    text-align:center;
}

h2{
    color: rgb(243, 232, 121); 
    text-align:left;
}

#bloque1{
    text-align: center;
    width:99%; 
    border: 2px violet dashed;
    background-color:rgb(32, 218, 51);
    margin:auto;
}
#bloque1 img{
    width: 120px;
    height: 120px; 
    border:3px rgb(38, 48, 243) solid; 
    border-radius: 5px;
}

#bloque2{
    width:100%;
    border: 3px violet dashed; 
    background-color:#ceadd5; 
    margin:auto;
}
#seccion1{
    text-align:left;
    width:90%;
    border: 3px rgb(130, 143, 238) dashed; 
    background-color:#d5adad; 
    margin:auto;
}
#seccion2{
    text-align:left;
    width:90%;
    border: 3px rgb(130, 143, 238) dashed; 
    background-color:#d5adad; 
    margin:auto;
}
#seccion3{
    text-align:left;
    width:90%;
    border: 3px rgb(130, 143, 238) dashed; 
    background-color:#d5adad; 
    margin:auto;
}
#seccion4{
    text-align:left;
    width:90%;
    border: 3px rgb(130, 143, 238) dashed; 
    background-color:#d5adad; 
    margin:auto;
}
#bloque3{
    width:100%;
    border: 3px rgb(61, 14, 231) dashed; 
    background-color:#720888; 
    margin:auto;
}
